<!-- app/views/layouts/pdf.html.erb -->
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>CPU Business and Information Technology College | Student Copy</title>

</head>
<body>
  <%= yield %>
</body>
</html>